body {
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
    border: 1px grey solid;
    border-radius: 16px;
    padding: 12px 0 12px 0;

}

#scoreboard > p {
    display: block;
}

#scoreboard > .loss {
    color: red;
}

#scoreboard > .win {
    color: green;
}

#final-lose {
    font-size: large;
    color: red;
}

#final-win {
    font-size: large;
    color: green;
}

button {
    width: 90px;
    height: 56px;
    padding: 8px;
    border-radius: 16px;
    border: 2px solid grey;
    font-size: 16px;
}